* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Roboto', sans-serif;
  color: #000;
}

body {
  min-height: 100vh;
  font-size: 1.5rem;
}

ul {
  list-style: none;
}

ol {
  counter-reset: list;
  list-style: none;
  padding-left: 1.5em;
}

ol li {
  counter-increment: list;
  position: relative;
}

ol li:before {
  content: counter(list) '.';
  position: absolute;
  left: -1.5em;
  text-align: center;
  width: 1.5em;
}

input,
textarea,
button,
select {
  font: inherit;
  margin-bottom: 1em;
}

header {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: purple;
  color: whitesmoke;
  position: sticky;
  top: 0;
}

nav {
  display: flex;
  justify-content: flex-end;
}

nav ul li {
  display: inline-block;
  margin-right: 1rem;
}

nav a,
nav a:visited {
  color: #fff;
  text-decoration: none;
}

nav a:hover,
nav a:focus {
  text-decoration: underline;
}

section {
  width: 100%;
  text-align: start;
  justify-content: space-around;
}

article {
  padding: 0.5em 0.7em;
  text-align: start;
  height: 100%;
  display: flex;
  flex-direction: column;
}

h1 {
  font-size: 3rem;
}

h2 {
  padding-bottom: 1rem;
}

h3 {
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
}

p {
  line-height: 1.5;
  font-size: 1.2rem;
  margin: 0.5em 0;
}

form {
  display: flex;
  flex-direction: column;
}

textarea {
  height: 200px;
}

.postCredit {
  font-size: 1rem;
  margin: 0;
  margin-top: auto;
}

li a {
  text-decoration: none;
}

.postCredit a,
.postCredit a:visited {
  margin-right: 0.5rem;
  color: black;
}

.postCredit a:hover,
.postCredit a:focus {
  color: hsla(0, 0%, 0%, 0.75);
}

.excerpt {
  margin-bottom: 1em;
}

.reactionButton {
  margin: 0 1em;
  margin-left: 0;
  background: transparent;
  border: none;
  color: #000;
  font-size: 1rem;
}

.deleteButton {
  background-color: palevioletred;
  color: white;
}

.routerLink {
  display: block;
  margin: 1em 0;
}

.content {
  display: flex;
  flex-wrap: wrap;
  column-gap: 1em;
  row-gap: 1.5em;
}
